<!doctype html>
<head xmlns:th="http://www.thymeleaf.org">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div class="container text-center">
    <div class="row">
        <div class="col mb-4"></div>
        <div class="col mb-4" style="padding-top:20px;">
            <form action="/account/login" method="post">
                <h3>로그인 화면</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="ID" name="accountId" maxlength="20" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="•••••••••••" name="accountPw" maxlength="20" required>
                </div>
                <button class="btn btn-success form-control">로그인</button>
                <br>
                <div>
                    <a href="/account/signup" class="btn btn-primary form-control">회원가입</a>
                </div>
            </form>
        </div>
        <div class="col mb-4"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>